<mat-toolbar color="primary">
  <span>Google Maps Angular</span>
  <span class="toolbar-spacer"></span>
  <a aria-label="GitHub" class="mat-button" href="#"><img alt="angular" src="../../../assets/images/github-circle-white-transparent.svg">
  </a>
</mat-toolbar>
<div class="row m-2">
  <div class="col-md-4 p-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Map with 1 Marker</mat-card-title>
        <mat-card-subtitle>Marker</mat-card-subtitle>
      </mat-card-header>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="false" [styles]="mapStyle">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <mat-card-content class="pt-3">
        <p class="p-3">
          A map with One Map Marker plotted with the latitude and longitude specified by the user in the component.
        </p>
      </mat-card-content>
      <mat-card-actions class="m-3">
        <a href="https://github.com/ThiruPraveen18/ANGULAR-GoogleMaps/blob/master/src/app/app.component.html"><button mat-raised-button color="primary">VIEW CODE</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Map with Multiple Markers</mat-card-title>
        <mat-card-subtitle>Marker</mat-card-subtitle>
      </mat-card-header>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]='8' [zoomControl]="false" [styles]="mapStyle">
        <agm-marker [latitude]='11.0503696' [longitude]='76.9365486'></agm-marker>
        <agm-marker [latitude]='10.9503696' [longitude]='77.4365486'></agm-marker>
        <agm-marker [latitude]='11.2503696' [longitude]='77.0365486'></agm-marker>
        <agm-marker [latitude]='11.3503696' [longitude]='77.3365486'></agm-marker>
      </agm-map>
      <mat-card-content class="pt-3">
        <p class="p-3">
          A map with Multiple Map Markers plotted with the latitude and longitude specified by the user.
        </p>
      </mat-card-content>
      <mat-card-actions class="m-3">
        <a href="https://github.com/ThiruPraveen18/ANGULAR-GoogleMaps/blob/master/src/app/app.component.html"><button mat-raised-button color="primary">VIEW CODE</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-4 p-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Draw Lines between Markers</mat-card-title>
        <mat-card-subtitle>Marker + Polyline</mat-card-subtitle>
      </mat-card-header>
      <agm-map [latitude]='11.3003696' [longitude]='77.1865486' [zoom]='10' [zoomControl]="false" [styles]="mapStyle">
        <agm-marker [latitude]='11.2503696' [longitude]='77.0365486'></agm-marker>
        <agm-marker [latitude]='11.3503696' [longitude]='77.3365486'></agm-marker>
        <agm-polyline [strokeColor]="'red'" [editable]="true">
          <agm-polyline-point [latitude]='11.2503696' [longitude]='77.0365486'></agm-polyline-point>
          <agm-polyline-point [latitude]='11.3503696' [longitude]='77.3365486'></agm-polyline-point>
        </agm-polyline>
      </agm-map>
      <mat-card-content class="pt-3">
        <p class="p-3">
          A map with 2 Map Markers plotted with the latitude and longitude specified by the user and a line between those points with custom color.
        </p>
      </mat-card-content>
      <mat-card-actions class="m-3">
        <a href="https://github.com/ThiruPraveen18/ANGULAR-GoogleMaps/blob/master/src/app/app.component.html"><button mat-raised-button color="primary">VIEW CODE</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-md-12 p-3">
    <mat-card>
      <div class="row">
        <div class="col-md-4 p-3">
          <mat-card-header>
            <mat-card-title>Draw Route between Places</mat-card-title>
            <mat-card-subtitle>Directions</mat-card-subtitle>
          </mat-card-header>
          <h5 class="p-3">Enter the Origin and the Destination details below to find the optimized route.</h5>
          <form class="p-3">
            <table cellspacing="0">
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Origin City" [(ngModel)]="origin" name="orign" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Destination City" [(ngModel)]="destination" name="destination" required>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </form>
          <button class="m-3" mat-raised-button (click)="route()" color="primary">Find Distance</button>
        </div>
        <div class="col-md-8 p-3">
          <agm-map style="height:600px" [latitude]='11.2503696' [longitude]='76.9365486' [zoom]='9' [zoomControl]="false" [styles]="mapStyle">
            <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
          </agm-map>
        </div>
      </div>
      <mat-card-content class="pt-3">
        <p class="p-3">
          A map with the direction route between two places as specified by the user.
        </p>
      </mat-card-content>
      <mat-card-actions class="m-3">
        <a href="https://github.com/ThiruPraveen18/ANGULAR-GoogleMaps/blob/master/src/app/app.component.html"><button mat-raised-button color="primary">VIEW CODE</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>